/* Importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #dde1e9;
}
/*Sección MENÚ*/
.contenedor-header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #2f283e;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtRojo {
    color: #ff1133;
}
.contenedor-header header nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}